                <tr id="<%=data.id%>">
                    <td><%=data.acronym%></td>
                    <td><% if(data.url) { %><a target="_blank" href="<%=data.url%>"><%=data.meaning%></a><% } else { %><%=data.meaning%><% } %></td>
                    <td>
                        <a class="a-inside edit" href="../acronyms/edit/<%=data.id%>">Edit</a>

                        <a class="a-inside delete" href="../acronyms/delete/<%=data.id%>">Delete</a>

                    </td>
                </tr>
